<div class="container2">
  <h2>Cartes</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let card of cards">
      <div class="card">
        <img src="assets/{{card.image}}" class="card-img-top" alt="{{card.name}}" width="256" height="256">
        <div class="card-body">
          <p class="card-title">{{card.name}}</p>
          <h5 class="card-text">{{card.description}}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Puissance: {{card.power}}</li>
            <li class="list-group-item">Santé: {{card.health}}</li>
            <li class="list-group-item">Type: {{card.type}}</li>
            <li class="list-group-item">Energie: {{card.energy}}</li>
            <li class="list-group-item">Prix: {{card.price}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
