<div class="container2">
  <h2>Cartes</h2>
  <table class="table table-striped">
<thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Power</th>
        <th>Health</th>
        <th>Type</th>
        <th>Energy</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cards">
        <td>{{card.id}}</td>
        <td>{{card.name}}</td>
        <td>{{card.description}}</td>
        <td>{{card.power}}</td>
        <td>{{card.health}}</td>
        <td>{{card.type}}</td>
        <td>{{card.energy}}</td>
        <td>{{card.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
