<div class="container2">
  <h1>Description de l'application</h1>
  <p>L'application permet aux utilisateurs de jouer à un jeu de cartes en ligne contre d'autres joueurs. Voici les principales fonctionnalités de l'application :</p>
  <br>
  <div class="container">
    <p class="lead text-decoration-underline">Création de compte :</p>
    <p>L'utilisateur peut créer un compte en fournissant un nom d'utilisateur et un mot de passe.</p>
    <br>

    <p class="lead text-decoration-underline">Inventaire de cartes :</p>
    <p>Après la création du compte, l'application attribue automatiquement trois cartes aléatoires à l'inventaire de l'utilisateur. Chaque carte est unique et ne peut se retrouver dans deux inventaires différents.</p>
    <br>

    <p class="lead text-decoration-underline">Création de room :</p>
    <p>Un utilisateur peut créer une room en lui donnant un nom. Une récompense aléatoire est attribuée au moment de la création de la room, entre 15 et 30 pièces.</p>
    <br>

    <p class="lead text-decoration-underline">Attente du deuxième joueur :</p>
    <p>Lorsqu'un utilisateur a créé la room, cette dernière a son statut en "waiting". En effet, elle attend un deuxième joueur. Une fois que le deuxième joueur a rejoint la room, le statut passe en "ready", personne d'autres ne peut rejoindre.</p>
    <br>

    <p class="lead text-decoration-underline">Sélection de la carte :</p>
    <p>À ce moment-là, chaque utilisateur choisit une carte dans son inventaire pour la partie.</p>
    <br>

    <p class="lead text-decoration-underline">Déroulement de la partie :</p>
    <p>Une fois les deux joueurs ayant choisi leur carte, le partie commence, le statut passe en "started". Chaque joueur joue chacun son tour. Un tour représente la carte du joueur actuel, l'attaquant, qui va attaquer la carte du joueur adverse. Les dégâts envoyés sont différents en fonction de l'attribut power et type de la carte. Il existe trois types : Feu, Eau, Terre. Il y a aussi 30% de chance d'envoyer un coup critique. La première carte arrivant à 0 point de vie a perdu. La carte du perdant perd 10 points d'énergie et celle du gagnant perd que 5 points d'énergie. Une carte qui a 0 d'énergie ne peut pas participer à une partie.</p>
    <br>

    <p class="lead text-decoration-underline">Récupération de l'énergie :</p>
    <p>Toutes les 30 secondes sur l'application, chaque carte reçoit 1 point d'énergie.</p>
    <br>

    <p class="lead text-decoration-underline">Marché :</p>
    <p>Il existe un marché où l'on peut acheter des cartes avec ses pièces.</p>
    <br>
    <br>

  </div>
</div>
