<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <title th:text="${titreSite}">CardTrafik</title>

    <script src="../js/register.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../css/account.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/litera/bootstrap.min.css"
    />
  </head>

  <body>
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-game">
      <div class="container-fluid">
        <a th:text="${titreSite}" class="navbar-brand" href="#">CardTrafik</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="account.html">Account</a>
              <span class="visually-hidden">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cardList.html">Liste des cartes </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="classement.html">Classement</a>
            </li>
          </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Disconnect</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>

    <!-- Formulaire creer room -->

    <form method="post" action="" class="form-group">
      <label class="form-label mt-4">Creer une salle</label>

      <div class="form-floating mb-3">
        <input
          type="name"
          name="name"
          id="name"
          class="form-control"
          placeholder="Password"
        />
        <label for="floatingPassword">name</label>
      </div>

      <div class="form-floating mb-5">
        <input
          type="text"
          name="Bet"
          id="Bet"
          class="form-control"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Bet</label>
      </div>

      <button
        type="button"
        class="btn btn-success"
        onclick="window.location.href = 'selectCard.html';"
        s
      >
        Creer
      </button>
    </form>

    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="../js/common.js"></script>
  </body>
</html>
