<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!-- Site Properties -->
  <title th:text="${titreSite}">CardGame</title>

  <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/account.css" />
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/litera/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css" />
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function () {
      $("#employeeTable").DataTable();
    });
  </script>
</head>

<title th:text="${titrePage}">Account</title>
</head>

<body>
  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">CardGame</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
    <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Accueil / Classement</a>
            </li>
            <a class="nav-link" href="account.html">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cardList.html">Liste des cartes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="rooms.html">Rooms</a>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="auth.html">Authentification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="auth.html">Deconnexion</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>

  <!-- Account -->
  <div class="cardsWrapperPlay fontSize">
    <div class="profileInfo col-md-4">
      <img class="img"
        src="https://64.media.tumblr.com/670c9879b4b28c5fe2d5b04a41cbd8eb/tumblr_o9hsauAmbC1vvqbiuo1_1280.jpg" alt="" />
      <span class="joueur1">Nek</span>
      <span class="vs">VS</span>
      <img class="img joueur2"
        src="https://64.media.tumblr.com/670c9879b4b28c5fe2d5b04a41cbd8eb/tumblr_o9hsauAmbC1vvqbiuo1_1280.jpg" alt="" />
      <span>Nek</span>
    </div>

    <span class="salle col-md-4">Play room X</span>
    <div class="money col-md-4">
      <span>5000 $</span>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <p class="separator">
      </p>
    </div>
  </div>

  <!-- Jeu -->

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="">
          <img class="cardPlayer"
            src="https://64.media.tumblr.com/670c9879b4b28c5fe2d5b04a41cbd8eb/tumblr_o9hsauAmbC1vvqbiuo1_1280.jpg"
            alt="" />
        </div>

        Puissance : 1000
        <br>
        santé : 1000
        <br>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="">
          <img class="cardPlayer"
            src="https://64.media.tumblr.com/670c9879b4b28c5fe2d5b04a41cbd8eb/tumblr_o9hsauAmbC1vvqbiuo1_1280.jpg"
            alt="" />
        </div>
        Puissance : 1000
        <br>
        santé : 1000
        <br>
      </div>
    </div>

    <div class="col-md-4">
      <div class="bout">
        Au tour de : Nek
        <br>
        <br>
        <button type="button" class="btn btn-danger">
          <path fill="currentColor"
            d="M7 22q-.825 0-1.413-.588T5 20q0-.825.588-1.413T7 18q.825 0 1.413.588T9 20q0 .825-.588 1.413T7 22Zm10 0q-.825 0-1.413-.588T15 20q0-.825.588-1.413T17 18q.825 0 1.413.588T19 20q0 .825-.588 1.413T17 22ZM6.15 6l2.4 5h7l2.75-5H6.15ZM7 17q-1.125 0-1.7-.988t-.05-1.962L6.6 11.6L3 4H1.975q-.425 0-.7-.288T1 3q0-.425.288-.713T2 2h1.625q.275 0 .525.15t.375.425L5.2 4h14.75q.675 0 .925.5t-.025 1.05l-3.55 6.4q-.275.5-.725.775T15.55 13H8.1L7 15h11.025q.425 0 .7.288T19 16q0 .425-.288.713T18 17H7Zm1.55-6h7h-7Z" />
          </svg>
          Attaquer
        </button>
      </div>
    </div>
  </div>






  <script src="../lib/jquery-3.3.1.min.js"></script>
  <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
  <script src="./js/play.js"></script>
  <script src="../js/common.js"></script>

</body>

</html>