<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- Site Properties -->
    <title th:text="${titreSite}">CardTrafik</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="../lib/Semantic-UI-CSS-master/semantic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/account.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/litera/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"
    ></script>
    <script>
      $(document).ready(function () {
        $("#employeeTable").DataTable();
      });
    </script>
  </head>

    <title th:text="${titrePage}">Account</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-game">
      <div class="container-fluid">
        <a th:text="${titreSite}" class="navbar-brand" href="#">CardTrafik</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="account.html">Account</a>
              <span class="visually-hidden">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cardList.html">Liste des cartes </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="classement.html">Classement</a>
            </li>

          </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Disconnect</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>

    <!-- Account -->
      
      <div class="cardsWrapper center">
        <div class="cardWrapper">
          <button onclick="window.location.href='createRoom.html'" type="button" class="btn btn-primary btnweight">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 21h18M3 10h18M5 6l7-3l7 3M4 10v11m16-11v11M8 14v3m4-3v3m4-3v3"
              />
            </svg>
            Creer une salle
          </button>
        </div>
      </div>

      <!--Liste-->
      <div class="cardsWrapperList">
        <h1>Salles</h1>
        <br>
        <table id="rooms" class="table table-striped" style="width:100%">
          <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>idUser_1</th>
                <th>idUser_2</th>
                <th>idCardUser_1</th>
                <th>idCardUser_2</th>
                <th>cooldownUser_1</th>
                <th>cooldownUser_2</th>
                <th>status</th>
                <th>idUserWinner</th>
                <th>reward</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="../js/room.js"></script>
    <script src="../js/common.js"></script>

  
    <script>
      $(document).ready(function () {
          $('#rooms').DataTable();
      });

    </script>


  </body>
</html>
