<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- Site Properties -->
    <title th:text="${titreSite}">CardTrafik</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="../lib/Semantic-UI-CSS-master/semantic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/account.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/litera/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"
    ></script>
    <script>
      $(document).ready(function () {
        $("#employeeTable").DataTable();
      });
    </script>
  </head>

    <title th:text="${titrePage}">Account</title>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a th:text="${titreSite}" class="navbar-brand" href="#">CardTrafik</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="account.html">Account</a>
              <span class="visually-hidden">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cardList.html">Liste des cartes </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="classement.html">Classement</a>
            </li>
          </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Disconnect</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>

    <!-- Account infos -->
      <div class="cardsImg">
        <div class="profileInfo">
          <img
            class="img"
            src="https://64.media.tumblr.com/670c9879b4b28c5fe2d5b04a41cbd8eb/tumblr_o9hsauAmbC1vvqbiuo1_1280.jpg"
            alt=""
          />
          <span id="demo"></span>
        </div>
        <div class="money">
          <span>5000 $</span>
        </div>
      </div>



    <!-- Icons -->
      <div class="cardsImg">
        <div class="cardWrapper">
          <button onclick="window.location.href='buyCard.html'" type="button" class="btn btn-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M7 22q-.825 0-1.413-.588T5 20q0-.825.588-1.413T7 18q.825 0 1.413.588T9 20q0 .825-.588 1.413T7 22Zm10 0q-.825 0-1.413-.588T15 20q0-.825.588-1.413T17 18q.825 0 1.413.588T19 20q0 .825-.588 1.413T17 22ZM6.15 6l2.4 5h7l2.75-5H6.15ZM7 17q-1.125 0-1.7-.988t-.05-1.962L6.6 11.6L3 4H1.975q-.425 0-.7-.288T1 3q0-.425.288-.713T2 2h1.625q.275 0 .525.15t.375.425L5.2 4h14.75q.675 0 .925.5t-.025 1.05l-3.55 6.4q-.275.5-.725.775T15.55 13H8.1L7 15h11.025q.425 0 .7.288T19 16q0 .425-.288.713T18 17H7Zm1.55-6h7h-7Z"
              />
            </svg>
            Buy
          </button>
        </div>

        <div class="cardWrapper">
          <button onclick="window.location.href='sellCard.html'" type="button" class="btn btn-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 21h18M3 10h18M5 6l7-3l7 3M4 10v11m16-11v11M8 14v3m4-3v3m4-3v3"
              />
            </svg>
            Sell
          </button>
        </div>

        <div class="cardWrapper">
          <button onclick="window.location.href='room.html'" type="button" class="btn btn-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M22.584 17.011c-.43.543-1.482.93-1.482.93l-7.833 2.817V18.68l5.764-2.057c.655-.234.755-.566.223-.74c-.53-.175-1.491-.125-2.146.111l-3.84 1.354v-2.155l.22-.075s1.11-.394 2.671-.567c1.56-.172 3.472.024 4.972.593c1.69.535 1.88 1.323 1.451 1.866zm-8.57-3.537V8.162c0-.624-.114-1.198-.699-1.36c-.447-.144-.725.272-.725.895V21l-3.584-1.139V4c1.524.283 3.744.953 4.937 1.355c3.035 1.043 4.064 2.342 4.064 5.267c0 2.851-1.758 3.932-3.992 2.852zm-11.583 4.99c-1.735-.49-2.024-1.51-1.233-2.097c.731-.542 1.974-.95 1.974-.95l5.138-1.83v2.086l-3.697 1.325c-.653.234-.754.566-.223.74c.531.175 1.493.125 2.147-.11l1.773-.644v1.865l-.353.06c-1.774.29-3.664.169-5.526-.445z"
              />
            </svg>
            Play
          </button>
        </div>
      </div>

      <br>

        <!--Liste-->
      <div class="cardsWrapperList">
        <h1>Your Cards</h1>
        <br>
        <table id="example" class="table table-striped" style="width:100%">
          <thead>
              <tr>
                <th>name</th>
                <th>description</th>
                <th>family_name</th>
                <th>hp</th>
                <th>energy</th>
                <th>defense</th>
                <th>attack</th>
                <th>price</th>
              </tr>
          </thead>
          <tbody>
              <tr onclick="alert('You clicked the first row!')">
                <td th:text="${username}">John Doe</td>
                <td th:text="${description}">Manager</td>
                <td th:text="${famillyName}">XXX</td>
                <td th:text="${hp}">50 000</td>
                <td th:text="${energie}">50 000</td>
                <td th:text="${defense}">50 000</td>
                <td th:text="${attaque}">50 000</td>
                <td th:text="${prix}">1 000 000</td>
              </tr>
              <tr onclick="alert('You clicked the second row!')">
                <td th:text="${username}">Jane Smith</td>
                <td th:text="${description}">Engineer</td>
                <td th:text="${famillyName}">YYY</td>
                <td th:text="${hp}">60 000</td>
                <td th:text="${energie}">60 000</td>
                <td th:text="${defense}">60 000</td>
                <td th:text="${attaque}">60 000</td>
                <td th:text="${prix}">1 200 000</td>
              </tr>
            </tbody>
        </table>
        
        </div>
  
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="./js/account.js"></script>
  
    <script>
      $(document).ready(function () {
          $('#example').DataTable();
      });

      $(document).ready(function() {
                    $('#IdDeLelementACHANGER!').DataTable( {
                        "order": [[ 4, "desc" ]],
                        "language": 
                        {
                            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                        }
                    } );
                } );
    </script>


  </body>
</html>
